{{! Footer partial }}
<footer role="contentinfo" class="layout__footer resonance__footer">
    <section><a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; Steve Mason, 2014.</section>        
</footer>